<h1>Angular template - practice</h1>

<h2>ng-template - if/else + template variable</h2>
<app-template [data]="funData"></app-template>
<app-template [data]="notFunData"></app-template>

<h2>ng-templateOutlet - if/else without if/else + context</h2>
<app-template-outlet></app-template-outlet>

<h2>ng-content</h2>
<app-content-parent></app-content-parent>

<h2>ng-container with ngSwitch</h2>
<app-container-with-ng-switch-case></app-container-with-ng-switch-case>

<h2>renderer2</h2>
<app-renderer2></app-renderer2>

<h2>class and style</h2>
<app-classes-and-styles></app-classes-and-styles>
