<h1>Angular template - practice</h1>

<h2>ng-template - if/else + template variable</h2>
<app-template [data]="funData"></app-template>
<app-template [data]="notFunData"></app-template>

<h2>reusable component</h2>
<app-reusable-component [textColor]="'ForestGreen'"></app-reusable-component>
<app-reusable-component [textColor]="'Gold'"></app-reusable-component>
<app-reusable-component [textColor]="'Magenta'"></app-reusable-component>

<h2>input from parent</h2>
<div style="display: flex; flex-direction: column">
  <app-input-from-parent-component [name]="'Hermione Granger'"></app-input-from-parent-component>
  <app-input-from-parent-component [name]="'Frodo Baggins'"></app-input-from-parent-component>
  <app-input-from-parent-component [name]="'Katniss Everdeen'"></app-input-from-parent-component>
</div>

<h2>ng-templateOutlet - if/else without if/else + context</h2>
<app-template-outlet></app-template-outlet>

<h2>ng-content</h2>
<app-content-parent></app-content-parent>

<h2>ng-container with ngSwitch</h2>
<app-container-with-ng-switch-case></app-container-with-ng-switch-case>
